<h2>{{ message }}</h2>

<form action="/site/index" method="POST">
    <p><input type="text" name="User[login]" placeholder="login"></p>
    <p><input type="password" name="User[password]" placeholder="password"></p>

    <p><input type="submit" value="Load user model"></p>
</form>