<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MVC App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Guest layout</h1>

    {{ content }}

    <script src="/js/app.js"></script>
</body>
</html>